/* You can add global styles to this file, and also import other style files */
body,
p {
  margin: 0;
}


html {
  height: 100%;
}

body {
  background-color: #f1f1f1;
  height: 100%;
}

app-root {
  min-height: 100%;
}
